@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-5xl font-bold;
	}

	body {
		background-image: repeating-linear-gradient(
			-45deg,
			oklch(var(--b1)),
			oklch(var(--b1)) 13px,
			oklch(var(--b2)) 13px,
			oklch(var(--b2)) 14px
		);
		background-size: 40px 40px;
		box-shadow: 0 0 0 1px oklch(var(--b1)) inset;
	}
}